# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\86180\Dropbox\My PC (LAPTOP-OGI1V19Q)\Desktop\blind_watermark-master\blind_watermark\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
